*.log
*.jou
*.str
*.logfile

boards/*/openwifi_*
boards/*/.Xil
boards/*/ip_config
boards/*/ip_repo
boards/*/NA

boards/*/src/system
boards/*/src/ip
boards/*/src/ipshared

ip/*/src/board_def.v
ip/*/src/*_pre_def.v
ip/*/src/*_git_rev.v
ip/*/src/spi_command.v
ip/global_config.v
